version: '3'

services:
  postgres:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: conference_go
    volumes:
      - ./backend/data:/var/lib/postgresql/data
  backend:
    build:
      context: ./backend
    depends_on:
      - postgres
    restart: on-failure
    volumes:
      - ./backend/src:/usr/src/app/src
    environment:
      PORT: 80
      JWT_SECRET: oiashd8w73y24iuhrt8o427tryhsdgjn
      PGHOST: postgres
      PGPORT: 5432
      PGDATABASE: conference_go 
      PGUSER: postgres
      PGPASSWORD: postgres

  
  account-postgres:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: accounts
    volumes:
      - ./account/data:/var/lib/postgresql/data
  account:
    build:
      context: ./account
    depends_on:
      - account-postgres
    restart: on-failure
    volumes:
      - ./account/src:/usr/src/app/src
    environment:
      PORT: 80
      JWT_SECRET: oiashd8w73y24iuhrt8o427tryhsdgjn
      PGHOST: account-postgres
      PGPORT: 5432
      PGDATABASE: accounts 
      PGUSER: postgres
      PGPASSWORD: postgres

  badges-postgres:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres 
      POSTGRES_DB: badges
    volumes:
      - ./badges/data:/var/lib/postgresql/data
  badges:
    build:
      context: ./badges
    depends_on:
      - badges-postgres
    restart: on-failure
    volumes:
      - ./badges/src:/usr/src/app/src
    environment:
      PORT: 80
      JWT_SECRET: oiashd8w73y24iuhrt8o427tryhsdgjn
      PGHOST: badges-postgres
      PGPORT: 5432
      PGDATABASE: badges 
      PGUSER: postgres
      PGPASSWORD: postgres

  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: http://localhost:8080/api
    depends_on: 
      - backend
    ports:
      - "8080:80"
      
